In [1]:
#This line will import Mongo to this Python notebook. Nothing will happen if this import has alred been done
import pymongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [2]:
#This will create a Collection/Database called "employees" if it doesn't already exist
db = client['employees']

In [3]:
#This line provides the MongoDB name for the Collection/Database "employees"
employees = db.employees

In [4]:
#This line inserts employee data into db.employees database
db.employees.insert_many([{"name": "Jessica", "Department":"IT","Salary": 6000},
                                 {"name": "Joseph", "Department":"IT","Salary": 7000},
                                 {"name": "Alex", "Department":"Accounts","Salary": 5000},
                                 {"name": "Julie", "Department":"IT","Salary": 3000},
                                 {"name": "James", "Department":"Admin","Salary": 8000},
                                 {"name": "Jacob", "Department":"Admin","Salary": 9000},
                                 {"name": "Kevin", "Department":"IT","Salary": 6500}
                              ])

In [5]:
#This finds and prints out all of the employees, their departments and their salaries
for employee in employees.find():
  print(employee)

{'_id': ObjectId('60ee97e6176167638660b0f3'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('60ee97e6176167638660b0f4'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('60ee97e6176167638660b0f5'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('60ee97e6176167638660b0f6'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('60ee97e6176167638660b0f7'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('60ee97e6176167638660b0f8'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('60ee97e6176167638660b0f9'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

### To get the total number of records in the collection

In [9]:
pipeline = [
     {"$group": {"_id": None,"Count": {"$sum": 1}}}]
grp_employees = db.employees.aggregate(pipeline)

In [10]:
for employee in grp_employees:
  print(employee)

{'_id': None, 'Count': 7}

### To group by department and get the total salary for each department

In [12]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$sum": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [13]:
for employee in grp_employees:
  print(employee)

{'_id': 'Admin', 'Salary': 17000}
{'_id': 'Accounts', 'Salary': 5000}
{'_id': 'IT', 'Salary': 22500}

### To group by department and get the average salary for each department

In [15]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$avg": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [16]:
for employee in grp_employees:
  print(employee['_id'],"\t Average Salary ",employee['Salary'])

Admin 	 Average Salary  8500.0
IT 	 Average Salary  5625.0
Accounts 	 Average Salary  5000.0

### To get the employees with the lowest salary

In [17]:
pipeline = [
     {"$group": {"_id": None ,"Minimum Salary": {"$min": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [18]:
for employee in grp_employees:
    for spec_emp in employees.find({"Salary":employee['Minimum Salary']}):
        print("Name ",spec_emp['name'],"\nSalary ",spec_emp['Salary'])

Name  Julie
Salary  3000